body{
    background-color: rgba(122, 202, 28, 0.1);
    text-align: center;
    font-size: 24px;
    color: #093500;
}
.wrapper{
    margin: 0 auto;
    width: 500px;
}
input[type='text']{
    padding: 15px;
    border: none;
    font-size: 28px;
}
#todo-list{
    margin: 0;
    padding: 0;
}
#add-press{
    padding: 13px;
    font-size: 28px;
    border-radius: 0 10px 0 10px;
}
#clear{
    border-radius: 0 5px 0 5px;
}
li.box{
    margin: 10px 0 10px 0;
    text-align: left;
    list-style: none;
    background-color: rgba(122, 202, 28, 0.4);
    border: 2px solid rgba(122, 202, 28, 0.7);
    border-radius: 0 5px 0 5px;
}
li.box:hover{
    background-color: rgba(122, 202, 28, 0.7);
}
li button{
    float: right;
}
li input[type='checkbox']{
    margin-right: 24px;
}
.task{
    font-size: 18px;
    text-align: left;
}
.button-edit, .button-delete, #save, #cancel {
    margin: 3px 4px 0 0;
    border-radius: 0 5px 0 5px;
}
.button-delete:hover, #clear:hover, #cancel:hover{
    border-color: red;
    background: red;
}
.button-edit:hover,  #save:hover, #add-press:hover{
    border-color: #45D637;
    background: #45D637;
}
.checked{
    text-decoration: line-through;
}
[draggable]{
    user-select: none;
}

/*  popup  */
#edit {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}